CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
__pycache__
VKConfig.h
icd/common/libicd.a
icd/intel/intel_gpa.c
_out64
out32/*
out64/*
demos/Debug/*
demos/tri.dir/Debug/*
demos/tri/Debug/*
demos/Win32/Debug/*
demos/xcb_nvidia.dir/*
libs/Win32/Debug/*
*.pyc
*.vcproj
*.sln
*.suo
*.vcxproj
*.sdf
*.filters
build
dbuild
src/vktrace_layer/codegen/*
