# Windows Build Configuration for AppVeyor
# http://www.appveyor.com/docs/appveyor-yml
#

# build version format
version: "{build}"

os:
  - Visual Studio 2015

environment:
  PYTHON_PATH: "C:/Python35"
  PYTHON_PACKAGE_PATH: "C:/Python35/Scripts"

# Cache the external directory to improve build times.
# If the appveyor config file changes, invalidate the cache.
cache:
    - external -> .appveyor.yml

branches:
  only:
    - master

# This replaces "automatic building" that would be defined under build:
build_script:
  - "SET PATH=C:\\Python35;C:\\Python35\\Scripts;%PATH%"
  - update_external_sources.bat --all
  - build_windows_targets.bat

