CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
__pycache__
XGLConfig.h
*.so
*.so.*
icd/common/libicd.a
icd/intel/intel_gpa.c
loader/dispatch.c
loader/table_ops.h
tests/xgl_image_tests
tests/xgl_render_tests
tests/xglbase
tests/xglinfo
layers/xgl_dispatch_table_helper.h
layers/xgl_enum_string_helper.h
layers/xgl_generic_intercept_proc_helper.h
layers/xgl_struct_string_helper.h
layers/xgl_struct_wrappers.cpp
layers/xgl_struct_wrappers.h
_out64
out32/*
out64/*
demos/Debug/*
demos/tri.dir/Debug/*
demos/tri/Debug/*
demos/Win32/Debug/*
demos/xcb_nvidia.dir/*
libs/Win32/Debug/*
*.pyc
*.vcproj
*.sln
*.suo
*.vcxproj
*.sdf
*.filters
